<% provide(:title, 'Edit User') %>
<div id='main-form' class='col-12 col-sm-10 col-md-8'>
  <%= bootstrap_form_for @user do |f| %>
    <%= f.text_field :username, autofocus: true, autocomplete: 'username', help: 'Only half-width English numbers and letters' %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email' %>
    <%= f.submit 'Update', class: 'btn btn-primary' %>
    <div id='sub-info-links'>
      <ul>
        <li><%= link_to 'Change your password', edit_user_registration_path %></li>
        <% if @user.id == current_user.id %>
          <li><%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'You sure?' }, id: 'delete-btn' %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>