<div class='card'>
  <h5 class='card-header'>
    <%= link_to container_form.name, user_container_path(container_form.user_id, container_form), id: 'container-link' %>
    <%= link_to edit_user_container_path(container_form.user_id, container_form), class: 'cog-link' do %>
      <i class='fas fa-cog fa-lg'></i>
    <% end %>
  </h5>
  <div class='card-body'>
    <h5 class='card-title'>タイプ: <%= container_form.position %></h5>
    <% if container_form.products.present? %>
      <h5 class='card-title'>飲食料品: <%= container_form.products.size %></h5>
    <% end %>
    <% if container_form.description.present? %>
      <div id='cntnr-shw-descrip'>
        <span>説明</span>
        <p><%= container_form.description %></p>
      </div>
    <% end %>
    <%= button_to '飲食料品を登録する', new_user_container_product_path(container_form.user_id, container_form), method: :get, class: 'btn btn-success' %>
  </div>
</div>