<div class='card' style="width: 18rem;">
  <div class='card-body'>
    <h5 class='card-title'><%= deadline.action %></h5>
  </div>
  <ul class='list-group list-group-flush'>
    <li class='list-group-item'>
      <%= deadline.container.position %> - <%= link_to deadline.container.name, user_container_path(@user, deadline.container) %>
    </li>
    <li class='list-group-item'>
      <%= link_to deadline.product.name, user_container_product_path(@user, deadline.container_id, deadline.product) %>
    </li>
    <li class='list-group-item'><%= "Exp - #{deadline.product.product_expired_at}" %></li>
    <li class='list-group-item'>
      <%= link_to 'Delete Alert', user_deadline_alert_path(@user, deadline), method: :delete, id: 'delt-btn' %>
    </li>
  </ul>
</div>