<% provide(:title, "#{@user.username} - #{@product.name}") %>
<div class='col-12 col-sm-12 col-md-10' id='prd-shw-form'>
  <h2><%= @product.name %></h2>
  <ul class='col' id='prd-info'>
    <li><%= "#{@container.position}: #{@container.name}" %></li>
    <li><%= "Quantity: #{@product.number}" %></li>
    <li><%= "Created_at: #{@product.product_created_at}" %></li>
    <li><%= "Expiration_date: #{@product.product_expired_at}" %></li>
    <% if @product.description.present? %>
      <li><%= "Description: #{@product.description}" %></li>
    <% end %>
  </ul>
</div>